// colors
$primary-bg: #9e6700;
$primary-text-white: #ebebeb;
$primary-text-hover-white: #ffffff;
$primary-modal-overlay: #00000086;

$primary-title-desktop: #ffb120;
$primary-title-desktop-hover: #ffb120b7;

// transition
$primary-transition: 0.2s linear;
