// colors
// mobile
$primary-bg: #ffb120;
$primary-text-white: #eeeeee;
$primary-text-hover-white: #ffffff;

// desktop
$primary-title-desktop: #ffb120;
$primary-title-desktop-hover: #ffb120b7;

//
$primary-transition: 0.2s linear;
