.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-bg;
  padding: 20px;

  &-logo__link {
    @extend %logo-set;
  }

  &-nav {
    &__btn {
      padding: 20px 10px;
      border-style: none;
      background: transparent;
      outline: none;
      cursor: pointer;

      &-icon {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $primary-text-white;
        border-radius: 1.5px;
        transition: $primary-transition;
        transition: 0.2s linear;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 30px;
          height: 3px;
          background-color: $primary-text-white;
          border-radius: 1.5px;
          transition: $primary-transition;
        }

        &::before {
          transform: translateY(-10px);
        }

        &::after {
          transform: translateY(7px);
        }
      }
    }

    &__menu {
      display: none;
    }

    &__menuActive {
      position: fixed;
      right: 0;
      width: 100%;
      min-height: calc(100vh - 63px);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $primary-bg;
      z-index: 2;
    }

    &__link {
      display: block;
      width: 100%;
      padding: 10px 30px;
      text-align: center;
    }
  }

  &-social {
    @extend %social-cox-set;
  }
}

// click on the navigation menu on the mobile

.menuButtonActive .header-nav__btn-icon {
  transform: translateX(-50px);
  background: transparent;
}

.menuButtonActive .header-nav__btn-icon::before {
  transform: rotate(45deg) translate(37px, -35px);
}

.menuButtonActive .header-nav__btn-icon::after {
  transform: rotate(-45deg) translate(37px, 35px);
}

@media screen and (min-width: 769px) {
  .header {
    &-logo {
      margin-bottom: 0.2em;

      &__link {
        font-size: 1, 5em;
        color: $primary-title-desktop;
        transition: $primary-transition;

        &:hover,
        &:focus {
          color: $primary-title-desktop-hover;
          transition: $primary-transition;
        }
      }
    }

    &-contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
    }

    &-phones {
      display: flex;
      flex-direction: column;

      &__item {
        position: relative;
        margin-bottom: 0.2em;
        font-size: 1.2em;

        &::before {
          display: block;
          content: '';
          position: absolute;
          left: -2em;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: $primary-bg;
        }
      }
    }

    &-nav {
      display: flex;
      flex-basis: auto;
      background-color: $primary-bg;

      &__link {
        font-size: 1em;
        font-weight: 500;
        color: $primary-text-white;
        border-top: 1px solid;
        border-bottom: 1px solid;
        transition: $primary-transition;

        &:not(:last-child) {
          border-right: 1px solid $primary-text-white;
        }

        &:hover,
        &:focus {
          color: $primary-title-desktop;
          background-color: $primary-text-hover-white;
          border-top: 1px solid $primary-title-desktop;
          border-bottom: 1px solid $primary-title-desktop;
          transition: $primary-transition;
        }
      }
    }
  }
}
