// Description

.description {
  max-width: 1200px;
  padding: 4em 1em;
  margin: 0 auto;

  &-title {
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: center;
  }

  &-variants {
    display: flex;
    flex-wrap: wrap;

    &__item {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;

      & > div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid $primary-bg;
        background-color: $primary-title-desktop;
        margin: 0 auto 1em;
      }

      & > p,
      & > span {
        margin-bottom: 1em;
      }
    }
  }
}

// About us

.aboutUs {
  background-color: $primary-bg;
}

.img {
  &-inner {
    min-width: 300px;
    height: 100%;
    min-height: 300px;
    background-color: #597908;
    display: flex;
    justify-content: center;
    align-items: center;

    & > p {
      padding: 1em 2em;
      font-size: 2em;
      color: #597908;
      background-color: #fff;
      border-radius: 0.5em;
    }
  }
}

.descr {
  padding: 2em;
  text-align: center;
  margin: auto 0;

  &-title {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid $primary-text-white;
    color: $primary-text-white;
  }

  & > p {
    margin-bottom: 1.5em;
    color: $primary-text-white;
  }
}

// Price list

.priceList {
  padding: 1em;

  &-title {
    padding: 1em 0;
    margin-bottom: 1em;
    text-align: center;
  }

  &-list {
    list-style: none;
    margin-bottom: 3em;

    &__title {
      display: none;
    }

    &__item {
      text-align: center;
      margin: 0 auto 1em;
      max-width: 400px;

      &:not(:last-child) {
        padding-bottom: 1em;
        border-bottom: 1px solid #597908;
      }

      &-img {
        width: 100%;
        height: 100px;
        border-radius: 1em;
        background-color: #597908;
        border: 2px solid $primary-bg;
        padding-top: 40px;
        margin: 0 auto 0.5em;
      }

      &-title {
        margin-bottom: 0.5em;
      }

      &-box {
        display: flex;
        justify-content: center;
        grid-gap: 0 1.5em;
      }

      &-price {
        color: #597908;
      }
    }
  }
}

.callbackPriceBtn {
  background-color: #597908;

  &:hover,
  &:focus {
    border: 1px solid $primary-text-white;
    background-color: $primary-bg;
    transition: $primary-transition;
  }
}

@media screen and (min-width: 769px) {
  // About us
  .aboutUs {
    min-height: 500px;
    display: flex;
  }

  .img,
  .descr {
    flex-basis: 50%;
  }

  // Price list

  .priceList-list {
    &__title {
      display: flex;
      // justify-content: space-around;
      padding: 1em 0;
      margin-bottom: 1em;
      background-color: #597908;
      border-radius: 1em;
      text-align: center;

      & > span:not(:first-child) {
        flex-basis: 25%;
      }

      & > span:first-child {
        flex-basis: 50%;
      }
    }

    &__item {
      display: flex;
      align-items: center;

      &-img,
      &-title {
        margin: 0;
        flex-basis: 25%;
      }

      &-box {
        flex-basis: 50%;
        justify-content: space-around;
      }
    }
  }
}
